body {
    font-family: Arial, sans-serif;
    background-color: #f0efef;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #ffffff url("../img/back.png");
    background-size: 110%;
}

.auth-form {
    width: 400px;
    background-color: #f5f5f5;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 10px 10px 20px #d9d9d9, -10px -10px 20px #ffffff;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    size: 20px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333333;
}

input[type="text"],
input[type="password"] {
    width: 94%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f5f5f5;
    box-shadow: inset 2px 2px 5px #d9d9d9, inset -2px -2px 5px #ffffff;
    color: #212940;
}

input[type="checkbox"] {
    margin-right: 5px;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    box-shadow: inset 2px 2px 5px #d9d9d9, inset -2px -2px 5px #ffffff;
    color: #212940;
}

button {
    width: 120px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 5px 5px 10px #b3b3b3, -5px -5px 10px #ffffff;
}

button:hover {
    background-color: #0056b3;
}